.wrapper {
  position: relative;
  width: 100vw;
  height: auto;
  background-image: url("./assets/background.jpeg");
  background-size: cover;
}
.wrapper::before {
  content: "";
  position: absolute;
  bottom: 25vh;
  right: 0;
  width: 50vh;
  height: 50vh;
  background: url("./assets/right-bottom-bg.png");
  background-size: cover;
}
.main-wrapper {
  position: inherit;
  top: 0;
  width: 100vw;
  margin-top: calc(-8vw - 40px);
}
.main-flex {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 710px;
  overflow: hidden;
  position: relative;
  width: 80vw;
}
.container {
  margin: 0 auto;
}
.header {
  width: 100%;
  padding: 20px 0 0;
  color: #fff;
}
.header-inner {
  display: flex;
  justify-content: space-between;
}
.logo-video-field {
  margin-left: calc(21vw - 250px);
}
.logo-video-field video {
  margin-top: 12px;
  width: 8vw;
  height: 8vw;
}
.loginBtn {
  padding: 12px 16px;
  /* border: 1px solid rgba(255, 255, 255, 0.25); */
  box-sizing: border-box;
  border-radius: 90px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s ease-in;
  z-index: 999;
  margin-right: calc(21vw - 250px);
}
.social-link {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  font-size: 2.8vmin;
  padding: 0.5vh 1.5vh;
  clip-path: none;
  border-radius: 0vw;
  color: white;
  cursor: pointer;
  transition: all 0.35s cubic-bezier(0.85, -0.49, 0.31, 1.49) 0s;
  background: rgba(11, 11, 8, 0.8);
}
.social-link:hover {
  border: 2px solid white;
}
.social-icon {
  height: 36px;
}
.h1 {
  color: #fff;
  font-family: Manrope-bold;
  font-style: normal;
  font-weight: 800;
  font-size: 85px;
  line-height: 104%;
  margin: 0;
  /* background: radial-gradient(115.34% 5272.35% at 91.11% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
  linear-gradient(0deg, #FEE720, #FEE720); */
  background-color: #fee720;
  background-image: linear-gradient(45deg, #fee720, #fff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.connBtn {
  width: 176px;
  height: 54px;
  background: #fee720;
  border: 1px solid #fee720;
  border-radius: 10px;
  font-family: DMSans-regular;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  transition: 0.3s;
  cursor: pointer;
}
.connBtn:hover {
  opacity: 0.6;
}

@media (max-width: 1250px) {
  .logo-video-field {
    margin-left: 1vw;
  }
  .loginBtn {
    margin-right: 15px;
  }
}
@media (max-width: 890px) {
  .wrapper {
    height: auto;
  }
  .wrapper::before {
    display: none;
  }
  .header .container {
    margin: 0 30px;
  }
  .main-wrapper {
    margin-top: 0px;
  }
  .main-flex {
    flex-direction: column-reverse;
    width: 100vw;
    height: auto;
  }
  .logo-video-field video {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 380px) {
  .header .container {
    margin: 0 10px;
  }
  .loginBtn {
    margin-right: 0px;
  }
}
